.add-staff-container{
  background-color: #fff;
  padding: 16px;
  /* border-radius: 20px; */
}

.form-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.form-header h2{
  /* color: #ec1846; */
}
.form-header div button{
   margin: 5px;
  padding: 5px;
  border: 1px solid #eee;
  /* border-radius: 10px; */
}

.tabs{
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.tabs button{
  flex: 1;
  background-color: #eef0f3;
  border: none;
  padding: 10px;
  margin: 5px;
}

.tabs button:hover{
  flex-grow: 1;
  background-color: var(--hover-bg-color);
  border: none;
  margin: 5px;
  cursor: pointer;
  color: #fff;
}

.form-body{
  flex-wrap: wrap;
  display: flex;
  /* justify-content: space-between; */
}

.form-card{
  /* width: 50%; */
  min-width: 320px;
  flex: 1;
  border: 1px solid #ddd;
  padding: 16px;
  /* border-radius: 10px; */
  margin: 10px;
}
.form-card h4{
  /* color: #ec1846; */
  margin: 5px;
}
.two-cols{
  width: calc(100% - 10px);
  display: flex;
}
.two-cols input, .two-cols select{
  width: 50%;
  margin: 5px;
  padding-left: 5px;
}

.full-width{
  margin-top: 20px;
  margin-bottom: 20px;
  /* border-radius: 20px; */
  background-color: #fff;
  /* width: 100%; */
  padding: 16px;
  /* gap: 20px; */
  overflow-x: scroll;
}
.permission-row {
  display: grid;
  grid-template-columns: 120px 120px 1fr auto;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.form-footer{
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  padding: 16px;
}
.form-footer button{
  margin: 5px;
  padding: 5px;
}

@media (max-width: 559px){
  .tabs{
    display: block;
    flex-wrap: wrap;
  }
}