.add-staff-container{
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
}

.form-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-header div button{
   margin: 5px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.tabs{
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.tabs button{
  flex: 1;
  background-color: #eef0f3;
  border: none;
  padding: 10px;
  margin: 5px;
}

.tabs button:hover{
  flex: 1;
  background-color: #b3d0fa;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.form-body{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.form-card{
  width: 50%;
  flex: 1;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  margin: 10px;
}
.form-card h4{
  color: #5f6061;
  margin: 5px;
}
.two-cols{
  width: calc(100% - 10px);
  display: flex;
}
.two-cols input, .two-cols select{
  width: 50%;
  margin: 5px;
}