.add-staff-container{
  background-color: #fff;
  padding: 16px;
  border-radius: 20px;
}

.form-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-header div button{
   margin-right: 5px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 10px;
}