.cards_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    gap: 40px;
    min-height: 150px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    gap: 40px;
    border-radius: 20px;
}