*{
    margin: 0px;
    padding: 0px;
    color: #0F172A;
}
/* Button color = #6366F1 */
.layout_container{
    min-height: 100vh;
    max-width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
    /* margin: 10px; */
    overflow-x: hidden;
}

.side_bar{
    padding-top: 30px;
    width: 300px;
    /* width: 12%; */
    padding-left: 10px;
    /* min-height: 100%; */
    /* background-color: #f0fff9; */
    /* margin: 10px; */
    color: #F8FAFC;
    /* border-radius: 20px; */
    border-right: 1px solid #d0d3d8;
}

.side_bar_menu .menu_item{
    color: #0F172A;
}

.menu_item{
    /* border-bottom: 1px solid #1E293B; */
    width: 100%;
    /* padding-bottom: 10px; */
    /* height: 40px; */
    /* margin-bottom: 20px; */
    cursor: pointer;
    /* font-weight: bold; */
}

.grouped_items{
    display: flex;
}

.icon{
    margin-right: 10px;
}

.side_bar_menu{
    margin-bottom: 20px;
}

.nav-link{
    text-decoration: none;
    color: #334155;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.main{
    width: calc(100% - 300px + 20px);
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* padding: 0px; */
    /* overflow-x: hidden; */
    /* background-color: #f7fbfa; */
    /* border-radius: 20px; */
}

.top_header{
    /* width: 100%; */
    /* margin-bottom: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
    /* background-color: #E2E8F0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 20px; */
    border-bottom: 1px solid #d0d3d8;
}

.profile_image_container{
    /* height: 100% !important; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.content{
    background-color: #eef0f3;
    /* height: 100%; */
    margin-bottom: 20px;
    padding: 20px;
}

.display_sidebar_item{
    display: block;
    /* background-color: #fff; */
}

.hide_sidebar_item{
    display: none;
}

li{
    list-style-type: none;
    margin-top: 10px;
    margin-left: 20px;
}