.footer-container {
  height: 80px;
  background-color: #eef0f3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 18px;
}

.footer {
  /* background: #1a1a1a; */
  color: #0f172a;
  text-align: center;
  padding: 12px;
  
  
}
