@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
a,
div,button {
  font-family: "Josefin Slab", serif;
  font-style: normal;
}

span,
p,
div,
li,button {
  font-size: 1.5rem;
}

/* Firefox */
/* IE/Edge */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* div{
    background-color: #fcfbfe;
} */