@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

:root{
  --primary-color: #ec1846;
  --primary-bg-color: #f54067;
  --primary-bg-color-grey: #ccc;
  --hover-bg-color: #f54067;
  --system-font-size-normal: 0.9rem;
  --system-font-size-small: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
li,
a,
div,button, input, select {
  font-family: "Josefin Slab", serif;
  font-style: normal;
}

/* Firefox */
/* IE/Edge */
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.disabled{
  background-color: var(--primary-bg-color-grey);
  border: 1px solid #ccc;
  padding: 5px;
  /* border-radius: 6px; */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.enabled{
  background-color: var(--primary-bg-color);
  color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  /* border-radius: 6px; */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.sys-input, .sys-select{
  height: 40px;
  border: 1px solid #ddd;
  /* border-radius: 6px; */
  font-size: var(--system-font-size-normal);
   transition: box-shadow 0.3s ease, border 0.3s ease;
}
.sys-input{
  padding-left: 5px;
}
.sys-input:focus, .sys-select:focus{
  outline: none;
  box-shadow: 0 0 4px 2px var(--primary-bg-color);
  /* box-shadow: 0 0 4px 2px rgba(99, 102, 241, 0.3); */
}

/* Base button style */
.sys-button {
  background-color: #ffffff;
  color: #333;
  border: 1px solid var(--primary-bg-color-grey);
  padding: 5px;
  /* border-radius: 6px; */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.sys-button:hover {
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: #bbb;
}

/* Active/clicked effect */
.sys-button:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) inset;
}

/* Optional focus state */
.sys-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(150, 150, 150, 0.2);
}

.sys-button-colored{
  background-color: var(--primary-bg-color);
  color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  /* border-radius: 6px; */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.sys-button-grey{
  background-color: #eef0f3;
  border: 1px solid var(--primary-bg-color-grey);
  padding: 10px;
  /* border-radius: 6px; */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}